// Color

$faded-pink: #eebece;
$blue: #0b24fb;
$pink: #e83e8c;
$pinky: #f983ab;
$white: #fff;
$light: #f8f9fa;
$dark: #343a40;
$black: #000000;

$breakpoint-xs: 437px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// font size
$hero-heading: 4.375rem;
$hero-subheading: 1.45rem;
$blockquote: 1.4rem;
$box-title: 2.3rem;
$box-content: 1.25rem;
$slider-title: 2.4rem;
$slider-content: 0.85rem;

$font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
