.navbar-content {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.button, .btn {
  font-weight: normal;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;

  &:active {
    transform: scale(.90);
  }
}

.btn-circle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.heading {
  text-align: center;
  font-stretch: normal;
}

.image {
  object-fit: contain;
}

.text-blue {
  color: $blue;
  font-weight: 700;
}

// Object
.circle {
  background: $blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.path-3 {
  position: absolute;
  /* background-color: red; */
  right: 130px;
  bottom: 80px;
  /* right: -320px; */
  /* top: -10px; */
}

.path-3 img {
  width: 200px;

}

.card {
  border: none;
}

.bg-black {
  background-color: #000000 !important;
}

.heading-bold {
  font-weight: 900;
  font-size: 2.3125rem;
  letter-spacing: 1px;
}

.btn-dialog {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  transition: all 0.2s;
}

.btn-dialog:hover {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.btn-dialog:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}
